<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".less" mimeType="text/css" />

            <!-- Some IIS installation have .svg be default, others do not. -->
            <remove fileExtension=".svg" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="Pragma" value="no-cache" />
            </customHeaders>
        </httpProtocol>
        <handlers>
            <add name="ServerSideInclude" path="*.html" verb="*" modules="ServerSideIncludeModule" resourceType="Unspecified" />
        </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
